body {
  padding-top: 10px;
}
[class*="col-"], footer {
  
  padding: 0;
}
[class*="col-"] img{
	width:100.5%;
	height: 272px;
	cursor:pointer;
}

[class*="col-"] img:hover{
	opacity:1;
}

img{
	opacity: 0.5;
    filter: alpha(opacity=60);
}