body {
  padding-top: 10px;
}
[class*="col-"], footer {
  padding: 0;
}
[class*="col-"] img{
	width:100.6%;
	cursor:pointer;
	border:-1px;
}

#photo{
	width: 99.15%;
}

[class*="col-"] img:hover{
	opacity:1;
}

.opaque{
	opacity:0.5;
	filter: alpha(opacity=50);
}

.clear{
	opacity:1;
	filter: alpha(opacity=100);
}

.div{
	display:none;
}